/* Color Theme Swatches in Hex */
.Cheshire-Cat-1-1-hex { color: #5F2D83; }
.Cheshire-Cat-1-2-hex { color: #590931; }
.Cheshire-Cat-1-3-hex { color: #A4186C; }
.Cheshire-Cat-1-4-hex { color: #8D3A6C; }
.Cheshire-Cat-1-5-hex { color: #C2388C; }





